<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns="http://xmlns.jcp.org/xml/ns/javaee"
	xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd"
	id="WebApp_ID" version="3.1">
	
	<display-name>Les Fines Gueules !</display-name>
	
	<!-- WELCOME FILES -->
	<welcome-file-list>
		<welcome-file>retourIndex.action</welcome-file>
	</welcome-file-list>
	
	
	<!-- FILTERS (ARE EXECUTED EACH TIME A HTTP REQUEST IS DONE (aka before each action)) -->
	<filter>
		<filter-name>struts2</filter-name>
		<filter-class>org.apache.struts2.dispatcher.ng.filter.StrutsPrepareAndExecuteFilter</filter-class>
	</filter>

	<filter-mapping>
		<filter-name>struts2</filter-name>
		<url-pattern>/*</url-pattern>
	</filter-mapping>


	<!-- HostnameFilter -->
	<filter>
		<filter-name>HostnameFilter</filter-name>
		<filter-class>fr.cursusSopra.tech.HostnameFilter</filter-class>
	</filter>

	<filter-mapping>
		<filter-name>HostnameFilter</filter-name>
		<url-pattern>/*</url-pattern>
	</filter-mapping>


	<!-- DEFINITION DU TILES LISTENER -->
	<listener>
		<listener-class>org.apache.struts2.tiles.StrutsTilesListener</listener-class>
	</listener>
	<context-param>
		<param-name>org.apache.tiles.impl.BasicTilesContainer.DEFINITIONS_CONFIG</param-name>
			
		<!-- liste des tiles.xml, séparés par des virgules -->
		<param-value>
			/WEB-INF/tiles/mainTiles.xml,
			/WEB-INF/tiles/utilisateursTiles.xml,
			/WEB-INF/tiles/contenuTiles.xml,
			/WEB-INF/tiles/adminTiles.xml
		</param-value>
	</context-param>
	<!-- / DEFINITION DU LISTENER -->
	
</web-app>
